BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
MaxEmptyLinesToKeep: 2

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: true

IndentCaseLabels: false
NamespaceIndentation: All
FixNamespaceComments: false

SortIncludes: CaseInsensitive
IncludeBlocks: Preserve

BinPackArguments: false
BinPackLongBracedList: false
LambdaBodyIndentation: Signature
PackConstructorInitializers: NextLineOnly
AlignOperands: DontAlign
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: Never
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Yes
PenaltyReturnTypeOnItsOwnLine: 10000
