[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/PlatformFolders"]
	path = external/PlatformFolders
	url = https://github.com/sago007/PlatformFolders.git
