# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/bin
/.vs
/data
/tmp

# Visual Studio Files - TODO : generate them
/Test.vcxproj.user
/Test.vcxproj.filters
/Test.vcxproj
/AnotherEngine.vcxproj.user
/AnotherEngine.vcxproj.filters
/AnotherEngine.vcxproj
/AnotherEngine.sln
/cpp.hint
/Benchmark